@model Serfitex.Models.Unidades

@{
    ViewData["Title"] = "Venta User";
}

<h1>Venta de @Model.Modelo</h1>

@* <h4>Unidad </h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Venta">
            <input type="hidden" asp-for="Id_unidad" />
            <input type="hidden" asp-for="Modelo" value="@ViewBag.Modelo" />
            <div class="form-group">
                <label asp-for="Fecha_venta" class="control-label"></label>
                <input asp-for="Fecha_venta" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Fecha_venta" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vendedor" class="control-label"></label>
                <input asp-for="Vendedor" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Vendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comprador" class="control-label"></label>
                <input asp-for="Comprador" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Comprador" class="text-danger"></span>
            </div>
            <h2>Datos de cliente</h2>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel_casa" class="control-label"></label>
                <input asp-for="Tel_casa" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Tel_casa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tel_oficina" class="control-label"></label>
                <input asp-for="Tel_oficina" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Tel_oficina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
