@model Serfitex.Models.Unidades

@{
    ViewData["Title"] = "Create";
}

<h1>Agregar Unidad</h1>

<h4>Unidades</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Modelo" class="control-label"></label>
                <input asp-for="Modelo" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Modelo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <select asp-for="Tipo" class="form-control" required>
                    <option value="Citycar">Citycar</option>
                    <option value="Hatchback">Hatchback</option>
                    <option value="Sedán">Sedán</option>
                    <option value="Coupé">Coupé</option>
                    <option value="SUV">SUV</option>
                    <option value="Crossover">Crossover</option>
                    <option value="Pick-up">Pick-up</option>
                    <option value="Van">Van</option>
                    <option value="Mini van">Mini van</option>
                    <option value="Eléctrico">Eléctrico</option>
                    <option value="Híbrido">Híbrido</option>
                </select>
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Marca" class="control-label"></label>
                <input asp-for="Marca" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Marca" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Transmision" class="control-label"></label>
                <select asp-for="Transmision" class="form-control" required>
                    <option value="Manual">Manual</option>
                    <option value="Automática">Automática</option>
                    <option value="Continuamente variable (CVT)">Continuamente variable (CVT)</option>
                </select>
                <span asp-validation-for="Transmision" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_placa" class="control-label"></label>
                <input asp-for="Num_placa" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Num_placa" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="Num_serie" class="control-label"></label>
                <input asp-for="Num_serie" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Num_serie" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ano" class="control-label"></label>
                <input asp-for="Ano" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Ano" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_factura" class="control-label"></label>
                <input asp-for="Fecha_factura" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Fecha_factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo_factura" class="control-label"></label>
                <select asp-for="Tipo_factura" class="form-control" required>
                    <option value="Factura original">Factura original</option>
                    <option value="Factura Endosada">Factura Endosada</option>
                    <option value="Refactura">Refactura</option>
                    <option value="Factura de aseguradora">Factura de aseguradora</option>
                </select>
                <span asp-validation-for="Tipo_factura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_tenencia" class="control-label"></label>
                <input asp-for="Fecha_tenencia" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Fecha_tenencia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha_verificacion" class="control-label"></label>
                <input asp-for="Fecha_verificacion" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Fecha_verificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seguro" class="control-label"></label>
                <select asp-for="Seguro" class="form-control" required>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="Seguro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Aseguradora" class="control-label"></label>
                <input asp-for="Aseguradora" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Aseguradora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Duplicado_llave" class="control-label"></label>
                <select asp-for="Duplicado_llave" class="form-control" required>
                    <option value="Si">Si</option>
                    <option value="No">No</option>
                </select>
                <span asp-validation-for="Duplicado_llave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Comentario" class="control-label"></label>
                <input asp-for="Comentario" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Comentario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" type="number" step="0.01" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sucursal" class="control-label"></label>
                <select asp-for="Sucursal" class="form-control" required>
                    <option value="CDMX">CDMX</option>
                    <option value="Cuernavaca">Cuernavaca</option>
                </select>
                <span asp-validation-for="Sucursal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fech_prox_tenecia" class="control-label"></label>
                <input asp-for="Fech_prox_tenecia" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Fech_prox_tenecia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fech_prox_verificacion" class="control-label"></label>
                <input asp-for="Fech_prox_verificacion" class="form-control" Autocomplete="off" />
                <span asp-validation-for="Fech_prox_verificacion" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Agregar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
