@{
    ViewData["Title"] = "Inicio";
}

<header class="text-center">
    <div class="d-flex justify-content-between align-items-center p-3">
        <h1 class="display-4">SEMINUEVOS PREMIUM</h1>
    </div>
</header>

<div class="col-xl-4 col-lg-5">
     
</div>
