@model Serfitex.Models.ProximosPagosTenencias

@{
    ViewData["Title"] = "Registrar Pago";
}

<h1>Registrar Pago para @Model.Modelo</h1>

<form asp-action="GuardarPago" method="post">
    <div class="form-group">
        <label for="FechaPago">Fecha de Pago</label>
        <input type="date" class="form-control" id="FechaPago" name="Fecha_pago" required />
    </div>

    <!-- Ocultos para enviar el Id_unidad, Modelo, y Fech_prox_tenencia -->
    <input type="hidden" name="Id_unidad" value="@Model.Id_unidad" />
    <input type="hidden" name="Modelo" value="@Model.Modelo" />
    <input type="hidden" name="Fech_prox_tenecia" value="@Model.Fech_prox_tenecia.ToString("yyyy-MM-dd")" />

    <button type="submit" class="btn btn-primary">Guardar Pago</button>
</form>
